$font-sm: 1rem;
$font-icon: 1.2rem;
$blue-color: #269300;
$white-color: white;
$black-color: black;
$black-color-opacity: rgb(122, 115, 115);
$danger-color:red;
$orange-color: #fe9705;
$black-border: 1px solid rgb(212, 202, 202);
$border-radius-button: 2rem;
$background-danger-opacity: rgb(243, 62, 62);
$back-ground-info: #6c69cc;
$border-color:rgba(0, 0, 0, 0.1);
$border-radius-top: 5px 5px 0 0;
$border-radius-bottom:0 0 5px 5px;
$primary-color: rgb(53, 71, 236);
$white-color-opacity: rgba(255, 255, 255, 0.7);
$border-black-opacity: rgb(231, 225, 225);
$background-primary: #f2f7fb;
$background-dark-opacity: rgba(131, 146, 179, 0.1);
$background-primary-opacity: #6c69cc;