$black-color: black;
$white-color: white;
$primary-color: rgb(53, 71, 236);
$white-color-opacity: rgba(255, 255, 255, 0.7);
$border-black-opacity: rgb(231, 225, 225);
$black-border: 1px solid rgb(212, 202, 202);
$primary-color: rgb(53, 71, 236);

$background-dark: #303c54;
$background-primary: #f2f7fb;
$background-white: white;
$background-dark-opacity: rgba(131, 146, 179, 0.1);

$back-ground-danger: rgb(243, 62, 62);
$background-primary-opacity: #6c69cc;
$border-color: rgba(0, 0, 0, 0.1);
$background-tab-child: #f8f9fa;
$background-tab: white;
$border-radius-top: 5px 5px 0 0;
$border-radius-bottom: 0 0 5px 5px;